<img id="streetwalkImg" class="streetwalkImg" src="<%= pathFirstStill %>" >
<div class="trame-video"></div>

<div class="streetwalk-title">
    <h1>Scroll to start</h1>
    <p class="arrow-down">↓</p>
</div>

<div class="chooseWay element-fixed">
</div>

<div class="loadingNextWay element-fixed">
    <h1>Loading ... <span class="loadingIndicator">0</span>%</h1>
</div>

<div id="streetwalk-map" class="streetwalk-map">
    
</div>

<div id="streetwalk-control" class="streetwalk-control">
    <button class="mute-sounds">Mute sounds</button>
</div>